.card-header{
    color: #1b3461;
    background-color: white;
    font-size: 22px;
}

.card{
    border: 8px outset coral;
    width: 80%;
    padding: 3%;
    background-color: white;
    margin: auto;
}