  
.portfolio-container{
    border: 8px outset coral;
    width: 80%;
    padding: 3%;
    background-color: white;
   margin: auto;
   margin-bottom: 35px;
}

.portfolio-image {
    width: 490px;
    height: 350px;
    margin-bottom: 0px;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.portfolio-sample p {
    position: absolute;
    top: 60px;
    width: 91%;
    text-align: center;
    font-size: 100%;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}


h2 {
    background-color: #1b3461;
    border-bottom: 1px solid white;
    color: white;
    position: absolute;
    bottom: 27px;
    width: 93.5%;
    text-align: center;
}

h4 {
    color:#1b3461;
}

h6{
    background-color: #1b3461;
    /* border: solid white; */
    color: white;
    position: absolute;
    bottom: 16px;
    width: 93.5%;
    text-align: center;
}

h2:hover {
    color:coral;
    
}

h6:hover {
    color: coral;
    
}


.portfolio-text-image {
    position: relative;
}

h5 {
    color: #4cbbb9;
    font-size: 24px;
}

/* .portfolio-sample:hover {
    opacity: 0.2
    
} */

.portfolio-sample{
    background-color: #1b3461;
}

.portfolio-sample:hover p {
    visibility: visible;
    opacity: 1
}

.portfolio-sample:hover .portfolio-image {
    opacity:0.15
}