.footer {
    max-height: 10%;
    background: coral;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid darkgray;
  
  }
  
  .span-email{
    color: white;
    margin-bottom: 0px;
  }

  .span-name{
    color: white;
    margin-bottom: 0px;
  }

.span-phone{
  color: white;
  margin-bottom: 0px;
}