  
label {
    margin-top: 2%;
}

button {
    margin-top: 2%;  
}

.btn-info{
  background-color: #1b3461;
  
}

.form-group{
    width: 80%;
}

.card-title{
  color: #1b3461;
}

.card{
    border: 8px outset coral;
    width: 100%;
    padding: 3%;
    background-color: white;
    margin: auto;
    margin-bottom: 35px;
}